In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data = pd.read_csv('tra_.csv',index_col='ID')

In [3]:
#data['A12_13_14'] = data['A12']*data['A13']*data['A14']

d12 = data['A12'] >3
d13 = data['A13'] >3
d14 = data['A14'] >3
data['total'] = d12 | d13 |d14
data['total'] = data['total'].map({True:1, False:0})

data.drop(['A12'], axis=1, inplace= True)
data.drop(['A13'], axis=1, inplace= True)
data.drop(['A14'], axis=1, inplace= True)
data.drop(['total_s'], axis=1, inplace= True)

In [ ]:
#data.info()

In [4]:
#A1 예 아니요 매핑
data['A1']=data['A1'].map({1:1,2:0})

In [5]:
# A3 1,0 으로 변환
for i in range(21):
    data['A3_{}'.format(i+1)] = data['A3_{}'.format(i+1)].fillna(0)
    data['A3_{}'.format(i+1)] = data['A3_{}'.format(i+1)].map({i+1:1,0:0})

In [6]:
# A6은 원핫인코딩된 컬럼 -> 결측치 모두 0으로 채움
for i in range(1, 15) :
    data[f'A6_{i}'] = data[f'A6_{i}'].fillna(value = 0)
    data[f'A6_{i}'] = data[f'A6_{i}'].map({i:1,0:0})

In [7]:
#A7 컬럼 채우기
data['A7A']=data['A7A'].fillna(0)
for i in range(7):
    data['A7B_{}'.format(i+1)] = data['A7B_{}'.format(i+1)].fillna(0)
    data['A7B_{}'.format(i+1)] = data['A7B_{}'.format(i+1)].map({i+1:1,0:0})

In [ ]:
#data=data[data['Q']==1]

In [ ]:
# IQ, Q 제거
#data.drop(['Q'], axis=1, inplace= True)
#data.drop(['ID'], axis=1, inplace= True)

In [ ]:
# data.info()

In [ ]:
#지역 널값 제거
#data=data[data['A1'].isnull()==False]

In [8]:
data['dosi'] = data['D_TRA1_1_SPOT1']//1000

In [9]:
# 명목형 변수 인코딩
lst = ['D_TRA1_1_SPOT1','D_TRA1_SMONTH','A2_1','A4_1','A5_1','BSEX','BAGE','BJOB','D_TRA1_CASE','BARA','D_TRA1_NUM','dosi']
for col in lst:
    data[col] = data[col].apply(str)

In [11]:
data=data.fillna(0)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48269 entries, 0 to 48268
Data columns (total 73 columns):
ID                48269 non-null int64
Q                 48269 non-null int64
D_TRA1_1_SPOT1    48269 non-null object
D_TRA1_SMONTH     48269 non-null object
D_TRA1_S_Day      48269 non-null float64
D_TRA1_COST       48269 non-null float64
D_TRA1_NUM        48269 non-null object
D_TRA1_CASE       48269 non-null object
A1                48269 non-null float64
A2_1              48269 non-null object
A3_1              48269 non-null int64
A3_2              48269 non-null int64
A3_3              48269 non-null int64
A3_4              48269 non-null int64
A3_5              48269 non-null int64
A3_6              48269 non-null int64
A3_7              48269 non-null int64
A3_8              48269 non-null int64
A3_9              48269 non-null int64
A3_10             48269 non-null int64
A3_11             48269 non-null int64
A3_12             48269 non-null int64
A3_13             48269 non-null int64
A3_14             48269 non-null int64
A3_15             48269 non-null int64
A3_16             48269 non-null int64
A3_17             48269 non-null int64
A3_18             48269 non-null int64
A3_19             48269 non-null int64
A3_20             48269 non-null int64
A3_21             48269 non-null int64
A4_1              48269 non-null object
A5_1              48269 non-null object
A6_1              48269 non-null int64
A6_2              48269 non-null int64
A6_3              48269 non-null int64
A6_4              48269 non-null int64
A6_5              48269 non-null int64
A6_6              48269 non-null int64
A6_7              48269 non-null int64
A6_8              48269 non-null int64
A6_9              48269 non-null int64
A6_10             48269 non-null int64
A6_11             48269 non-null int64
A6_12             48269 non-null int64
A6_13             48269 non-null int64
A6_14             48269 non-null int64
A7                48269 non-null float64
A7A               48269 non-null float64
A7B_1             48269 non-null int64
A7B_2             48269 non-null int64
A7B_3             48269 non-null int64
A7B_4             48269 non-null int64
A7B_5             48269 non-null int64
A7B_6             48269 non-null int64
A7B_7             48269 non-null int64
A10A              48269 non-null float64
A10B              48269 non-null float64
A10C              48269 non-null float64
A10D              48269 non-null float64
A10E              48269 non-null float64
A10F              48269 non-null float64
A10G              48269 non-null float64
A10H              48269 non-null float64
A10I              48269 non-null float64
A10               48269 non-null float64
DQ6A              48269 non-null int64
BSEX              48269 non-null object
BAGE              48269 non-null object
BJOB              48269 non-null object
BARA              48269 non-null object
total             48269 non-null int64
dosi              48269 non-null object
dtypes: float64(15), int64(46), object(12)
memory usage: 26.9+ MB

In [12]:
numeric_features = data.dtypes[data.dtypes != "object"].index
numeric_features

Index(['ID', 'Q', 'D_TRA1_S_Day', 'D_TRA1_COST', 'A1', 'A3_1', 'A3_2', 'A3_3',
       'A3_4', 'A3_5', 'A3_6', 'A3_7', 'A3_8', 'A3_9', 'A3_10', 'A3_11',
       'A3_12', 'A3_13', 'A3_14', 'A3_15', 'A3_16', 'A3_17', 'A3_18', 'A3_19',
       'A3_20', 'A3_21', 'A6_1', 'A6_2', 'A6_3', 'A6_4', 'A6_5', 'A6_6',
       'A6_7', 'A6_8', 'A6_9', 'A6_10', 'A6_11', 'A6_12', 'A6_13', 'A6_14',
       'A7', 'A7A', 'A7B_1', 'A7B_2', 'A7B_3', 'A7B_4', 'A7B_5', 'A7B_6',
       'A7B_7', 'A10A', 'A10B', 'A10C', 'A10D', 'A10E', 'A10F', 'A10G', 'A10H',
       'A10I', 'A10', 'DQ6A', 'total'],
      dtype='object')

In [ ]:
#for i in numeric_features:
#    print('\n','='*6,i,'='*6)
#    print(data[i].value_counts())

In [ ]:
for i in numeric_features:
    sns.scatterplot(data=data, x=i, y='total')
    plt.show()

In [13]:
data=data[(data['D_TRA1_S_Day']>4)==False]
data=data[(data['D_TRA1_COST']>2000000)==False]
data=data[(data['A7']>10)==False]
data=data[(data['A10A']>500000)==False]
data=data[(data['A10B']>200000)==False]
data=data[(data['A10C']>200000)==False]
data=data[(data['A10D']>500000)==False]
data=data[(data['A10E']>250000)==False]
data=data[(data['A10F']>100000)==False]
data=data[(data['A10G']>100000)==False]
data=data[(data['A10H']>20000)==False]
data=data[(data['A10I']>20000)==False]
data=data[(data['DQ6A']>=10)==False]

data.shape

(43773, 73)

In [14]:
data['Ncost'] = data['A10']/data['A7']

In [15]:
data['DNcost'] = data['Ncost']/data['D_TRA1_S_Day']

In [16]:
data['A3sum'] = data['A3_1']
for i in range(1,21):
    data['A3sum'] = data['A3sum'] + data['A3_{}'.format(i+1)]

In [17]:
#data.head()

In [18]:
i='total'
corr = data.corr().drop([i]).sort_values(i, ascending=False)[i]
corr

A3sum           0.863145
A7              0.834951
A3_1            0.766796
A10             0.710790
A10E            0.682786
A10D            0.661980
Q               0.637902
A7B_1           0.628829
A3_6            0.624769
A3_2            0.600617
D_TRA1_COST     0.599668
A7B_3           0.480077
A10G            0.447382
A10F            0.371267
A10C            0.362861
D_TRA1_S_Day    0.322991
A7A             0.309455
A3_18           0.289578
A6_3            0.254747
A6_12           0.236040
A3_4            0.235472
A3_5            0.195135
A3_8            0.187367
A3_11           0.173063
A3_15           0.162569
A6_4            0.156054
A6_2            0.155479
A3_9            0.150149
A3_16           0.149620
A6_1            0.146990
                  ...
A1              0.120876
A7B_2           0.118675
A3_13           0.117851
A7B_5           0.113885
A10B            0.103085
A7B_4           0.102434
A3_21           0.098429
A10A            0.095850
A6_10           0.091981
A3_12           0.084721
A6_6            0.080714
A6_11           0.077741
A6_9            0.077680
DQ6A            0.074271
A3_19           0.058877
A6_5            0.058698
A3_20           0.057713
A6_8            0.057489
A6_14           0.052489
A10I            0.046122
A6_7            0.044194
Ncost           0.039676
A6_13           0.039354
A3_10           0.031953
DNcost          0.029229
A10H            0.018775
A7B_7           0.017332
A3_14           0.014395
A7B_6           0.012115
ID             -0.005833
Name: total, Length: 63, dtype: float64

In [19]:
data['total'].value_counts()

0    25985
1    17788
Name: total, dtype: int64

In [20]:
data = pd.get_dummies(data)

In [21]:
data.shape

(43773, 420)

In [22]:
X_train = data.drop('total',axis = 1)
y_train = data.total

In [23]:
from xgboost import XGBRegressor

xg = XGBRegressor(colsample_bytree=0.4603, gamma=0.0468,
                  learning_rate=0.05, max_depth=3, 
                  min_child_weight=1.7817, n_estimators=2200,
                  reg_alpha=0.4640, reg_lambda=0.8571,
                  subsample=0.5213, verbosity=0,
                  random_state =0, nthread = -1)

In [24]:
from sklearn.model_selection import cross_val_score

print(f'score : {cross_val_score(xg, X_train, y_train, cv=5).mean()}')

score : 0.9318321097996298

In [41]:
xg.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4603, gamma=0.0468,
             gpu_id=-1, importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=3,
             min_child_weight=1.7817, missing=nan, monotone_constraints='()',
             n_estimators=2200, n_jobs=-1, nthread=-1, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0.464,
             reg_lambda=0.8571, scale_pos_weight=1, subsample=0.5213,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [44]:
xg.predict(X_train[X_train['ID']==3])

array([0.9696263], dtype=float32)