In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## 1. Data collection

In [2]:
data = pd.read_csv('tra_.csv')

## 2. Data preparation

In [3]:
#만족도 3개중 4,5 가 하나라도 있으면 1, 없으면 0

d12 = data['A12'] >3
d13 = data['A13'] >3
d14 = data['A14'] >3
data['total'] = d12 | d13 |d14
data['total'] = data['total'].map({True:1, False:0})

# 만족도 제거
data.drop(['A12'], axis=1, inplace= True)
data.drop(['A13'], axis=1, inplace= True)
data.drop(['A14'], axis=1, inplace= True)
data.drop(['total_s'], axis=1, inplace= True)

In [4]:
# 널값인 행과 만족도가 없는 행 제거
data=data[data['D_TRA1_1_SPOT1'].isnull()==False]
data=data[data['total'].isnull()==False]

In [5]:
#데이터 확인
data.head(10)

,ID,Q,D_TRA1_1_SPOT1,D_TRA1_SMONTH,D_TRA1_S_Day,D_TRA1_COST,D_TRA1_NUM,D_TRA1_CASE,A1,A2_1,...,A10G,A10H,A10I,A10,DQ6A,BSEX,BAGE,BJOB,BARA,total
0,1,1,21090.0,12.0,1.0,2168800.0,4.0,1.0,2.0,1.0,...,0.0,0.0,0.0,938000.0,4,1,3,1,11,1
1,2,1,36460.0,1.0,2.0,280000.0,1.0,1.0,1.0,14.0,...,30000.0,0.0,0.0,250000.0,12,1,5,1,11,1
2,3,2,21090.0,1.0,2.0,345500.0,1.0,1.0,2.0,2.0,...,15000.0,0.0,0.0,217000.0,1,1,1,12,11,1
3,4,1,31370.0,1.0,2.0,300000.0,3.0,1.0,2.0,9.0,...,0.0,0.0,0.0,348000.0,8,1,4,1,11,1
4,5,1,39020.0,1.0,3.0,1425000.0,2.0,1.0,2.0,2.0,...,0.0,0.0,0.0,985000.0,5,1,6,13,11,1
5,6,1,22010.0,1.0,1.0,150000.0,1.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1,2,2,12,11,0
6,7,1,32060.0,1.0,1.0,375000.0,1.0,1.0,2.0,2.0,...,18000.0,0.0,0.0,136000.0,4,2,6,11,11,1
7,8,1,37420.0,1.0,0.0,200000.0,1.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,7,2,5,2,11,0
8,9,1,36360.0,1.0,2.0,69400.0,1.0,4.0,2.0,5.0,...,0.0,0.0,0.0,43000.0,5,2,3,1,11,1
11,12,1,25040.0,1.0,0.0,200000.0,2.0,1.0,2.0,12.0,...,0.0,0.0,0.0,200000.0,4,2,2,1,11,1

## 결측치 채우기

In [6]:
#A1 예 아니요 매핑
data['A1']=data['A1'].map({1:1,2:0})

> 여행활동

In [7]:
# A3 1,0 으로 변환
for i in range(21):
    data['A3_{}'.format(i+1)] = data['A3_{}'.format(i+1)].fillna(0)
    data['A3_{}'.format(i+1)] = data['A3_{}'.format(i+1)].map({i+1:1,0:0})

> 숙박시설

In [8]:
# A6은 원핫인코딩된 컬럼 -> 결측치 모두 0으로 채움
for i in range(1, 15) :
    data[f'A6_{i}'] = data[f'A6_{i}'].fillna(value = 0)
    data[f'A6_{i}'] = data[f'A6_{i}'].map({i:1,0:0})

> 여행유형

In [9]:
#A7 컬럼 채우기
data['A7A']=data['A7A'].fillna(0)
for i in range(7):
    data['A7B_{}'.format(i+1)] = data['A7B_{}'.format(i+1)].fillna(0)
    data['A7B_{}'.format(i+1)] = data['A7B_{}'.format(i+1)].map({i+1:1,0:0})

In [11]:
'''
=======나머지 결측치 채우기========= 
여행 유형이 3,5인 경우 널값이 존재하는데
3,5인 경우의 널값들의 영향을 주지 않도록 하기 위해 0으로 채워줌
'''
data=data.fillna(0)

## 결측치 확인

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27321 entries, 0 to 48267
Data columns (total 72 columns):
ID                27321 non-null int64
Q                 27321 non-null int64
D_TRA1_1_SPOT1    27321 non-null float64
D_TRA1_SMONTH     27321 non-null float64
D_TRA1_S_Day      27321 non-null float64
D_TRA1_COST       27321 non-null float64
D_TRA1_NUM        27321 non-null float64
D_TRA1_CASE       27321 non-null float64
A1                27321 non-null float64
A2_1              27321 non-null float64
A3_1              27321 non-null int64
A3_2              27321 non-null int64
A3_3              27321 non-null int64
A3_4              27321 non-null int64
A3_5              27321 non-null int64
A3_6              27321 non-null int64
A3_7              27321 non-null int64
A3_8              27321 non-null int64
A3_9              27321 non-null int64
A3_10             27321 non-null int64
A3_11             27321 non-null int64
A3_12             27321 non-null int64
A3_13             27321 non-null int64
A3_14             27321 non-null int64
A3_15             27321 non-null int64
A3_16             27321 non-null int64
A3_17             27321 non-null int64
A3_18             27321 non-null int64
A3_19             27321 non-null int64
A3_20             27321 non-null int64
A3_21             27321 non-null int64
A4_1              27321 non-null float64
A5_1              27321 non-null float64
A6_1              27321 non-null int64
A6_2              27321 non-null int64
A6_3              27321 non-null int64
A6_4              27321 non-null int64
A6_5              27321 non-null int64
A6_6              27321 non-null int64
A6_7              27321 non-null int64
A6_8              27321 non-null int64
A6_9              27321 non-null int64
A6_10             27321 non-null int64
A6_11             27321 non-null int64
A6_12             27321 non-null int64
A6_13             27321 non-null int64
A6_14             27321 non-null int64
A7                27321 non-null float64
A7A               27321 non-null float64
A7B_1             27321 non-null int64
A7B_2             27321 non-null int64
A7B_3             27321 non-null int64
A7B_4             27321 non-null int64
A7B_5             27321 non-null int64
A7B_6             27321 non-null int64
A7B_7             27321 non-null int64
A10A              27321 non-null float64
A10B              27321 non-null float64
A10C              27321 non-null float64
A10D              27321 non-null float64
A10E              27321 non-null float64
A10F              27321 non-null float64
A10G              27321 non-null float64
A10H              27321 non-null float64
A10I              27321 non-null float64
A10               27321 non-null float64
DQ6A              27321 non-null int64
BSEX              27321 non-null int64
BAGE              27321 non-null int64
BJOB              27321 non-null int64
BARA              27321 non-null int64
total             27321 non-null int64
dtypes: float64(22), int64(50)
memory usage: 15.2 MB

In [13]:
#for i in numeric_features:
#    print('\n','='*6,i,'='*6)
#    print(data[i].value_counts())

In [14]:
# for i in numeric_features:
#     sns.scatterplot(data=data, x=i, y='total')
#     plt.show()

## 이상치 제거

In [15]:
data=data[(data['D_TRA1_S_Day']>4)==False]
data=data[(data['D_TRA1_COST']>2000000)==False]
data=data[(data['A7']>10)==False]
data=data[(data['A10A']>500000)==False]
data=data[(data['A10B']>200000)==False]
data=data[(data['A10C']>200000)==False]
data=data[(data['A10D']>500000)==False]
data=data[(data['A10E']>250000)==False]
data=data[(data['A10F']>100000)==False]
data=data[(data['A10G']>100000)==False]
data=data[(data['A10H']>20000)==False]
data=data[(data['A10I']>20000)==False]
data=data[(data['DQ6A']>=10)==False]

data.shape

(22897, 72)

## 새로운 특성 추가

In [16]:
data['dosi'] = data['D_TRA1_1_SPOT1']//1000

In [17]:
data['Ncost'] = data['D_TRA1_COST']/data['D_TRA1_NUM']

In [18]:
data['DNcost'] = data['Ncost']/(data['D_TRA1_S_Day']+1)

In [19]:
data['A3sum'] = data['A3_1']
for i in range(1,21):
    data['A3sum'] = data['A3sum'] + data['A3_{}'.format(i+1)]

## 명목형 변수 레이블인코딩

In [20]:
# 명목형 변수 인코딩
lst = ['D_TRA1_1_SPOT1','D_TRA1_SMONTH','A2_1','A4_1','A5_1','BSEX','BAGE','BJOB','D_TRA1_CASE','BARA','D_TRA1_NUM','dosi']
for col in lst:
    data[col] = data[col].apply(str)

## 상관관계 분석후 0.01이하의 값들 제거

In [21]:
i='total'
corr = data.corr().drop([i]).sort_values(i, ascending=False)[i]
corr

A3sum           0.689589
A7              0.646204
A3_1            0.554335
A10             0.497210
A10E            0.460273
A10D            0.447408
A7B_1           0.409830
A3_6            0.406934
A3_2            0.384411
A7B_3           0.288608
A10G            0.274401
A10F            0.225573
A10C            0.221200
D_TRA1_COST     0.198737
A7A             0.176255
DNcost          0.168195
A3_18           0.158369
A6_3            0.149278
Ncost           0.133676
A6_12           0.132008
A3_4            0.125104
A3_5            0.109968
A3_8            0.101979
A3_11           0.100290
A6_4            0.092918
A3_15           0.092702
A6_1            0.087155
A3_3            0.087005
A6_2            0.082209
A3_16           0.081979
                  ...
A3_17           0.071615
A3_13           0.069044
A7B_2           0.065968
A7B_5           0.063227
A10B            0.058040
A10A            0.056677
A7B_4           0.053810
A6_10           0.052795
A3_21           0.051102
A6_6            0.048520
A6_11           0.046753
A6_9            0.046016
A3_12           0.040604
A6_5            0.036175
A6_8            0.031039
A6_14           0.030426
A3_20           0.026227
A3_19           0.025857
A6_7            0.024931
A10I            0.023740
A6_13           0.020139
A3_10           0.016559
A10H            0.011616
A7B_7           0.010724
A3_14           0.003262
A7B_6           0.001313
Q              -0.010359
DQ6A           -0.011789
ID             -0.017886
D_TRA1_S_Day   -0.052517
Name: total, Length: 63, dtype: float64

In [22]:
drop_features = corr.index[(corr)<=0.1]
drop_features

for drop_col in drop_features:
    data.drop([drop_col], axis=1, inplace= True)

## 종속변수 갯수

In [23]:
data['total'].value_counts()

1    17716
0     5181
Name: total, dtype: int64

## 더미

In [24]:
data = pd.get_dummies(data)

In [25]:
data.shape

(22897, 376)

In [26]:
X_train = data.drop('total',axis = 1)
y_train = data.total

## 3. Choose & Train a model

### - XGBRegressor

In [ ]:
from xgboost import XGBRegressor

xg = XGBRegressor(colsample_bytree=0.4603, gamma=0.0468,
                  learning_rate=0.05, max_depth=3, 
                  min_child_weight=1.7817, n_estimators=2200,
                  reg_alpha=0.4640, reg_lambda=0.8571,
                  subsample=0.5213, verbosity=0,
                  random_state =0, nthread = -1)
xg.fit(X_train, y_train)

### - XGBClassifier

In [ ]:
from xgboost import XGBClassifier

model=XGBClassifier()
model.fit(X_train,y_train) # 학습

In [ ]:
from sklearn.model_selection import cross_val_score

print(f'score : {cross_val_score(xg, X_train, y_train, cv=5).mean()}')
print('='*20)
print(f'score : {cross_val_score(model, X_train, y_train, cv=5).mean()}')

In [ ]:
xg.predict(X_train)[0:20]

In [ ]:
y_train[0:20]

### - 랜덤 포레스트

In [27]:
from sklearn.ensemble import RandomForestClassifier
#from tqdm.notebook import tqdm # 밑에 프로그래스바?를 출력
from sklearn.model_selection import cross_val_score # 교차검증

In [28]:
rf = RandomForestClassifier(n_estimators = 200,
                          max_features = 0.8,
                          max_depth = 15,
                          n_jobs = -1,
                          random_state = 0)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=15, max_features=0.8, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [29]:
print(f'score : {cross_val_score(rf, X_train, y_train, cv=5).mean()}')

score : 0.8863536110273265